.wrapper {
  padding: 60px 0;
  background: linear-gradient(90deg, #ffc5ca, #cfecd0);


  .container {
    max-width: 1024px;
    margin: 0 auto;


    .title {
      text-align: center;
      padding-bottom: 40px;
    }
  }

}